# Java / Maven
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
coverage/
*.tsbuildinfo

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# Environnement local
.env
*.log
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
gitleaks.json
maven.log
